@{
    var memberId = User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "";
    var displayName = await memberService.GetDisplayNameAsync(memberId);

    var memberResult = await memberService.GetMemberByIdAsync(memberId);
    var member = memberResult.Result;
}
<div class="profile-menu-container">
    <i class="fa-duotone fa-solid fa-bell"></i>
    <i class="fa-duotone fa-solid fa-gear"></i>
    @if (User.IsInRole("Admin"))
        {
            <img id="profileAvatar" class="profile-avatar" src="~/images/avatars/Adminavatar.svg" />
        }

        else
        {
            <img id="profileAvatar" class="profile-avatar" src="~/images/avatars/avatar2.svg" />
        }
    </div>

<div id="profileDropdown" class="profile-dropdown">
    <div class="profile-info">
        @if (User.IsInRole("Admin"))
        {
            <img class="profile-avatar-mini" src="~/images/avatars/Adminavatar.svg" />
        }

        else
        {
            <img class="profile-avatar-mini" src="~/images/avatars/avatar2.svg" />
        }
        <span class="profile-name">@displayName</span>
    </div>

    <div class="profile-action">
        <div class="label">
            <i class="fa-duotone fa-solid fa-cog"></i>
            <span>Dark Mode</span>
        </div>
        <label class="switch">
            <input type="checkbox" id="darkModeToggle" data-type="toggle" data-func="darkmode" />
            <span class="slider"></span>
        </label>
    </div>

    <div class="divider"></div>

    <a class="profile-logout" asp-controller="Auth" asp-action="Logout">
        <i class="fa-duotone fa-solid fa-right-from-bracket"></i>
        <span>Logout</span>
    </a>
</div>
